{erl_opts, [debug_info]}.

{deps, [
  {elli, "3.0.0"},
  {epgsql, "3.4.0"},
  {jiffy, "0.15.1"}
]}.

{relx, [
  {release, {erlcing, "1.0.0"},
    %% list of apps to include
    [erlcing]},

  %% Don't ship an Erlang VM by default
  {include_erts, false}
]}.

{profiles, [
  %% called as `rebar3 as prod <command>`
  {prod, [
    {relx, [ % override relx specifically
      {include_src, false}, % don't include source code
      {include_erts, true}  % include the VM in the release
    ]}
  ]}
]}.